<style>
  body{
      background-image: url(https://chuckandlori.com/wp-content/uploads/2017/12/cheers.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
  }
</style>

<h2>Let's get Cooking!</h2>
<br></br>
<h3>Sign In</h3>
<br></br><br></br>
<form class=login method='post' action='/login'>
    <h4>Username:</h4><input type='text' name='username'><br></br>
    <h4>Password:</h4><input type='password' name='password'><br></br>
    <input type='Submit' value='Submit'>
</form>  
<p class=buttons>
<a href='/signup'><button>Sign Up</button></a><a href='/'><button>Homepage</button></a>
</p>