<style>
  body{
      background-image: url(https://cdn.5280.com/2018/05/GroupCheers-at-Centro-Mexican-Kitchen-e1525361352911.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
  }
</style>

<h2>Let's get Cooking!</h2>
<br></br>
<h3>Sign Up</h3>
<p class=login>Already a Member? <a href='/login'>Login</a></p>
<br></br><br></br>
<form class=signup action="/signup" method="POST">
 <h4>Username:</h4> <p><input type="text" name="username"></p>
 <h4>Email:</h4><p><input type="text" name="email"></p>
 <h4>Password:</h4><p><input type="password" name="password"></p>
 
  <input class="btn btn-primary" type="submit">
</form>