<!doctype html>
<html lang="en">
  <head>
    <title>Sinatra Recipe App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href="/stylesheets/style.css">
  </head>
  
  <body>

    <%if !!flash[:alert]%>
        <p><span><%=flash[:alert]%></span></p>
    <%end %>
     
    <%=yield%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>